body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('/img/ganador.jpg');
    background-size: cover; 
}

.ganador {
    text-align: center;
}

.ganador h1 {
    font-size: 6rem; /* Letras grandes */
    margin-bottom: 5px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Sombreado negro muy sutil */
}

.ganador p {
    font-size: 10rem; /* Letras grandes */
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Sombreado negro muy sutil */
}

#boton {
    position: absolute; /* Establecer posición absoluta */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px; /* Aumentar el tamaño del botón */
    font-size: 2rem; /* Aumentar el tamaño del texto */
    cursor: pointer;
    border-radius: 8px;
}

#boton:hover {
    background-color: #0056b3;
}


/* confeti */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap");
.canvas-confetti-btn {
    font-size: 5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    .tool-tip {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
      position: absolute;
      top: -40px;
      left: 0;
      width: 100%;
      background-color: #fff;
      color: #000;
      font-weight: 400;
      padding: 5px;
      border-radius: 4px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      font-size: 1rem;
      color: rgb(100,100,100);
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -8px;
        bottom: -5px;
        background-color: #fff;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
      }
    }
    &:hover {
      .tool-tip {
        animation: none;
        opacity: 0;
      }
    }
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(0, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(0, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%,
    60% {
      transform: translate3d(0, 4px, 0);
    }
  }